// Colors of project

//Brand-colors

$primary-500: #9A4DFF;
$primary-900: #FFA7FF;
$primary-800: #E990FF;
$primary-700: #CF7AFF;
$primary-600: #B563FF;
$primary-400: #7F35FF;
$primary-300: #6218FF;
$primary-200: #4000F3;
$primary-100: #0000DC;

$secondary-500: #F600DD;
$secondary-900: #FF86FF;
$secondary-800: #FF6CFF; 
$secondary-700: #FF4FFF;
$secondary-600: #FF2DF4;
$secondary-400: #DD00C6;
$secondary-300: #C400B0;
$secondary-200: #AC009A;
$secondary-100: #920085;

$tertiary-500: #0093CD;
$tertiary-900: #5EEBFF;
$tertiary-800: #3BD4FF;
$tertiary-700: #00BEFB;
$tertiary-600: #00A8E4;
$tertiary-400: #007EB7;
$tertiary-300: #006AA1;
$tertiary-200: #00578C;
$tertiary-100: #004477;

//Neutral-colors

$background: #211D28;
$black: #000000;
$white: #ffffff;
$white-light: #EFEFFF;
$borda: #474053;


.primary-900 {
    color: $primary-900;
}