.icon-faq-down {
    &::after {
        content: '';
        display: block;
        background-image: url(../../svg/down.svg);
        background-size: cover;
        cursor: pointer;

        width: 28px;
        height: 28px;
    }
}

.icon-faq-up {
    &::after {
        content: '';
        display: block;
        background-image: url(../../svg/up.svg);
        background-size: cover;
        cursor: pointer;

        width: 28px;
        height: 28px;
    }
}

.logo-footer {
    max-width: 209px;
    max-height: 60px;
}

.icon-sociais {
    transition: .7s ease;
    &:hover {
        transform: scale(1.1);
    }
}