// Layout of project

// Container-devices
$container-xl: 1440px;
$container-l: 1216px;
$container-m: 960px;
$container-s: 620px;
$container-xs: 340px;

// Mixin of media-queries 
@mixin responsive($device) {
    @if $device == xl {
        //For resolutions upper 1440px
        @media screen and (min-width: $container-xl) {
            @content;
        }
    }
    @else if $device == l {
        //For resolutions between 1140px and 1440px
        @media screen and (max-width: $container-xl) and (min-width: $container-l) {
            @content;
        }
    }
    @else if $device == m {
        //For resolutions between 960px and 1140px
        @media screen and (max-width: $container-l) and (min-width: $container-m) {
            @content;
        }
    }
    @else if $device == s {
        //For resolutions less than 960px
        @media screen and (max-width: $container-m) {
            @content;
        }
    }
    @else if $device == xs {
        //For resolutions less than 340px
        @media screen and (max-width: $container-xs) {
            @content;
        }
    }
}

.flex-top {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.flex-spacebetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.w-auto {
    width: auto;
}
.w-100 {
    width: 100%;
}
.w-75 {
    width: 75%;
}
.w-50 {
    width: 50%;
}
.w-25 {
    width: 25%;
}

.hidden {
    overflow: hidden;
}

.container {
    max-width: $container-xl;
    margin: 0 auto;
    padding: 48px 180px 24px 180px;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    @include responsive(s) {
        flex-direction: column;
        padding: 24px 80px;
    }
}

.container-column {
    max-width: $container-xl;
    margin: 48px auto;
    padding: 60px 180px;
    position: relative;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include responsive(s) {
        flex-direction: column;
        padding: 16px 80px;
    }
}


// <!-- ===== Hero Header ===== -->

.container-1 {
    z-index: 900;
    
}

.card-home {
    width: 170%;
    z-index: -1;
    transform: translate3D(-180px, -48px, 0);
}

.fitas-promocao {
    width: 105%;
    position: absolute;
    z-index: 991;

    top: 580px;
}


// <!-- ===== Cards NFTs ===== -->

.container-conteudo {
    width: 100%;

    a {
        cursor: pointer;
        display: inline-block;
        padding: 8px 16px;
        transform:  translate3d(0, 6px,0);
    }

    .pilula {
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.50);
        background: rgba(255, 255, 255, 0.05);

        transition: .7s ease;

        &:hover {
            transform: scale(1.01);
            border-radius: 12px;
            background: linear-gradient(#211D28, #211D28) padding-box,
                linear-gradient(45deg, #9A4DFF, #5EEBFF) border-box;
            border: 2px solid transparent;
        }
    }

}

.active-pilula {
    border-radius: 12px;
    background: linear-gradient(#211D28, #211D28) padding-box,
              linear-gradient(45deg, #9A4DFF, #5EEBFF) border-box;
    border: 2px solid transparent;
    
}

.card {
    width: 326px;
    height: 524px;
    display: block;
    position: relative;
    overflow: hidden;

    border-radius: 12px;

    transition: .7s ease;

    &:hover {
        transform: scale(1.05);
    }

}

.card-img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    transition: .7s ease;
    border-radius: 12px;

    &:hover {
        transform: scale(1.05);
        position: absolute;
    }
}

.card-conteudo {
    width: 100%;
    position: absolute;
    top: 451px;
    padding: 16px 24px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;

    border-top: 1px solid rgba($color: #fff, $alpha: .2);
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(7.5px);

}

.card-avatar {
    width: 40px;
    height: 40px;

    border-radius: 100%;
    background: linear-gradient(#211D28, #211D28) padding-box,
          linear-gradient(45deg, #9A4DFF, #5EEBFF) border-box;
    border: 2px solid transparent;

}


// <!-- ===== Top Collectors ===== -->

.top-ranks {
    width: 100%;
}

.rank {
    border: 1px solid red;
    width: 100%;
    padding: 20px 24px;

    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.05); 
    
    transition: .7s ease;

    &:hover {
        transform: scale(1.02);
    }
}

.rank-numero {
    background: var(--gradiente-02, linear-gradient(135deg, #9A4DFF 0%, #5EEBFF 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


// <!-- ===== Newslettler ===== -->

.news {
    width: 100%;
    height: 100vh;

    h5 {
        color: $white-light;
    }
}

.bg-news {
    width: 100%;
    position: absolute;
    align-items: center;
    z-index: -1;    

    .ellipse {
        opacity: .15;
    }
}

.titulo-news {
    width: 442px;
    text-align: center;
}

.subscribe {
    width: 342px;
    border: 1px solid red;
    padding: 8px;

    border-radius: 30px;
    border: 1px solid var(--neutras-borda, #474053);
    background: rgba(239, 239, 255, 0.10);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    input {
        width: 100%;
        height: 100%;
        color: $white-light;
        background-color: transparent;
        border: none;
        outline: 0;
        padding-left: 16px;
    }

    ::placeholder {
        color: $white-light;
    }
}

.subscribe-active {
        background: linear-gradient(#211D28, #211D28) padding-box,
              linear-gradient(45deg, #9A4DFF, #5EEBFF) border-box;
        border: 2px solid transparent;

        ::placeholder {
            opacity: 0;
        }
}


.fitas-promocao-2 {
    width: 102%;
    position: absolute;
}


// <!-- ===== FAQ ===== -->

.polvo {
    width: 100%;
    position: absolute;
    top: -200px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;

    img {
        width: 60%;
        display: flex;
        justify-content: center;
        
    }
}

.content {
    display: flex;
    flex-direction: column;

    border-radius: 12px;
    border: 1px solid $borda;
}

.accordion-item {    

    &:hover {
        opacity: .9;
    }
}

.accordion-header {
    padding: 24px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;

    background: rgba(255, 255, 255, 0.05);
}

.borda-top {
    border-radius: 12px 12px 0 0;

}

.borda-bottom {
    border-radius: 0 0 12px 12px;
}

.accordion-content {
    margin-left: 24px;
    margin-right: 24px;
    overflow: hidden;
    height: 0;
    transition: all .5s ease;

    h5 {
        opacity: 50%;
    }
}

.active-faq {
    padding: 24px 0;
}

.titulo-faq {
    width: 100%;
}
